* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body, html {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  cursor: default;
  /* osx scroll workaround */
  position: fixed;
}
body {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 60px;
  color: #5C6163;
  background-color: #F0F6F7;
}
p {
  line-height: 1.2em;
  cursor: default;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}
p b {
  font-weight: 500;
}
p.small {
  font-size: 30px;
  margin-top: 10px;
  color: #2A2B2C;
}
#controller {
  position: fixed;
  right: 20px;
  top: 0;
  /*opacity: 0.2;*/
  display: none;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  padding: 10px;
  z-index: 9999;
}
#controller:hover {
  /*opacity: 1;*/
}
#controller label {
  font-size: 12px;
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}
#controller input {
  width: 100px;
  padding: 5px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  display: block;
}
#canvas {
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: top left;
  transform: translate3D(0px,0px,0px);
  backface-visibility: hidden;
  perspective: 1000;
  -webkit-transform-origin: top left;
  -webkit-transform: translate3D(0px,0px,0px);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  will-change: transform;
}
.yuzey {
  height: 1000px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.deniz {
  background-color: #00253F;
  height: 300px;
  min-width: 100%;
  width: 20000px;
  bottom: 0;
  position: absolute;
}
.deniz:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 64, 94, 0.75);
  background-color: rgba(0, 37, 63, 0.75);
  background-color: rgba(0, 37, 63, 0.25);
  z-index: 150;
}
.deniz > div {
  position: absolute;
  /*+transition: all 5s cubic-bezier(0.420, 0.000, 0.580, 1.000);*/
  -webkit-transition: transform 5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
  -moz-transition: transform 5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
  -o-transition: transform 5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
  transition: transform 5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
.deniz .dalga-1 {
  background-image: url(../img/deniz-1.png);
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-position: left top;
  margin-top: -186px;
  z-index: 1;
  will-change: transform;
}
.deniz .dalga-2 {
  background-image: url(../img/deniz-2.png);
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-position: left top;
  margin-top: -128px;
  margin-left: -200px;
  z-index: 99;
  will-change: transform;
}
.deniz .taban-1 {
  background-image: url(../img/deniz-alt4.png);
  width: 100%;
  height: calc(100% + 25px);
  background-repeat: repeat-x;
  background-position: left top;
  z-index: 300;
  bottom: 0px;
  will-change: transform;
}
.gemi {
  background-image: url(../img/gemi.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 710px;
  height: 600px;
  left: 0;
  cursor: pointer;
  z-index: 99;
  margin-left: 600px;
  position: absolute;
  bottom: 0;
  will-change: transform;
}
.gemi .demir {
  background-image: url(../img/demir.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 90px;
  height: 101px;
  left: 475px;
  top: 410px;
  position: absolute;
  z-index: 99999;
  cursor: pointer;
  -webkit-transform-origin: 60px 3px;
  transform-origin: 60px 3px;
}
.gemi .halat {
  background-image: url(../img/halat.png);
  background-repeat: repeat-y;
  background-position: left top;
  background-size: contain;
  width: 5px;
  height: 0px;
  left: 550px;
  top: 410px;
  position: absolute;
  will-change: height;
}
.buzul {
  background-image: url(../img/buzul.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 1000px;
  height: 465px;
  bottom: 0;
  left: 0;
  position: absolute;
}
.buzul2 {
  background-image: url(../img/buzul-2.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 494px;
  height: 175px;
  bottom: 0;
  left: 0;
  position: absolute;
}
.buzul3 {
  background-image: url(../img/buzul-3.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 580px;
  height: 1180px;
  bottom: 0;
  left: 0;
  position: absolute;
  will-change: transform;
}
.buzul4 {
  background-image: url(../img/buzul-4.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 2000px;
  height: 932px;
  bottom: 0;
  left: 0;
  position: absolute;
}
.sahne-1 .buzul-1 {
  width: 2000px;
  height: 932px;
  z-index: -2;
  margin-left: -58px;
  margin-bottom: -163px;
}
.sahne-1 .buzul-2 {
  z-index: 2;
  margin-left: 1375px;
  margin-bottom: 53px;
}
.sahne-1 .buzul-3 {
  z-index: 100;
  margin-left: 1796px;
  margin-bottom: -607px;
}
.sahne-1 .buzul-4 {
  width: 1500px;
  height: 600px;
  z-index: -1;
  margin-left: 1300px;
  margin-bottom: -50px;
}
.sahne-1 .text-1 {
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  opacity: 0;
  width: 1144px;
  margin-left: 160px;
  margin-top: 100px;
  -webkit-transition: all 1.5s .5s;
  transition: all 1.5s 0.5s;
}
.sahne-2 .buzul-1 {
  z-index: 100;
  margin-left: 2500px;
  margin-bottom: -730px;
}
.sahne-2 .penguen-1 {
  background-image: url(../img/penguen-sol.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 265px;
  height: 306px;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 101;
  margin-left: 3500px;
  margin-bottom: 40px;
}
.sahne-2 .penguen-2 {
  background-image: url(../img/penguen-sag.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 126px;
  height: 148px;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 100;
  margin-left: 4000px;
  margin-bottom: 80px;
}
.sahne-2 .buzul-2 {
  width: 1400px;
  height: 550px;
  z-index: -2;
  margin-left: 4000px;
  margin-bottom: -50px;
}
.sahne-3 .yesil-alan {
  background-image: url(../img/yesil-alan.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 2564.012px;
  height: 228.622px;
  bottom: 0;
  left: 0;
  position: absolute;
  margin-left: 6000px;
  margin-bottom: 0px;
  z-index: 100;
}
.sahne-3 .yesil-alan-taban {
  background-image: url(../img/yesil-alt.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 3108px;
  height: 1793.555px;
  bottom: 0;
  left: 0;
  position: absolute;
  margin-left: 5745px;
  margin-bottom: -1793px;
  z-index: 100;
}
.sahne-3 .lama {
  background-image: url(../img/lama-sol.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 381px;
  height: 331px;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 101;
  margin-left: 7580px;
  margin-bottom: 30px;
}
.sahne-3 .agac {
  background-image: url(../img/agac.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 590px;
  height: 647px;
  bottom: 0;
  left: 0;
  position: absolute;
  margin-left: 7300px;
  margin-bottom: 25px;
  z-index: 102;
}
.sahne-3 .agac-top {
  background-image: url(../img/top.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 39px;
  height: 39px;
  bottom: 0;
  left: 0;
  position: absolute;
  margin-left: 7550px;
  margin-bottom: 445px;
  z-index: 103;
  will-change: transform;
}
.sahne-3 .text-1 {
  position: absolute;
  top: 0;
  width: 1144px;
  margin-left: 6210px;
  margin-top: 100px;
  z-index: 10;
}
.balik-suru {
  background-image: url(../img/balik-suru-1.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 265.5px;
  height: 85px;
  bottom: 0;
  left: 0;
  position: absolute;
}
.balik {
  background-image: url(../img/buyuk-balik.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 115px;
  height: 95px;
  bottom: 0;
  left: 0;
  position: absolute;
}
.ot1 {
  background-image: url(../img/ot-2.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 86px;
  height: 450px;
  bottom: 0;
  left: 0;
  position: absolute;
}
.kaplumbaga {
  width: 133px;
  height: 214px;
  bottom: 0;
  left: 0;
  position: absolute;
}
.kaplumbaga .govde {
  background-image: url(../img/kaplumbaga-govde.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 133px;
  height: 214px;
  position: absolute;
  z-index: 0;
}
.kaplumbaga .sag {
  background-image: url(../img/kaplumbaga-sag-kol.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  margin-left: 106px;
  margin-top: 66px;
  width: 78px;
  height: 36px;
  position: absolute;
  z-index: -1;
}
.kaplumbaga .sol {
  background-image: url(../img/kaplumbaga-sol-kol.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  margin-left: -15px;
  margin-top: 38px;
  width: 78px;
  height: 36px;
  position: absolute;
  z-index: -1;
}
.sahne-4 .ot-1 {
  margin-left: 8711px;
  margin-bottom: -1155px;
  z-index: 100;
}
.sahne-4 .suru-1 {
  margin-left: 8640px;
  margin-bottom: -450px;
  z-index: 100;
}
.sahne-4 .suru-2 {
  margin-left: 9719px;
  margin-bottom: -1000px;
  z-index: 100;
  width: 168px;
  height: 69px;
}
.sahne-4 .balik-1 {
  margin-left: 8962px;
  margin-bottom: -992px;
  z-index: 100;
}
.sahne-4 .balik-2 {
  margin-left: 8888px;
  margin-bottom: -983px;
  z-index: 100;
  width: 80px;
}
.sahne-4 .balik-3 {
  margin-left: 8914px;
  margin-bottom: -1073px;
  z-index: 100;
  width: 60px;
}
.sahne-4 .kaplumbaga-1 {
  margin-left: 10559px;
  margin-bottom: -910px;
  z-index: 100;
}
.sahne-4 .text-1 {
  position: absolute;
  margin-left: 8850px;
  margin-bottom: -330px;
  z-index: 9999;
  width: 650px;
  color: #F8F8F8;
  bottom: 0;
  left: 0;
}
.sahne-4 .text-1 p.small {
  color: #FFF;
}
.sahne-4 .envanter {
  position: absolute;
  margin-left: 9043px;
  margin-bottom: -1100px;
  z-index: 9999;
  width: 1800px;
  height: 700px;
  color: #F8F8F8;
  bottom: 0;
  left: 0;
}
.sahne-4 .envanter .item {
  margin-right: 38px;
}
.sahne-4 .envanter .sira:nth-child(2) {
  margin-left: 102px;
}
.sahne-4 .devam-btn {
  position: absolute;
  margin-left: 10094px;
  margin-bottom: -350px;
  z-index: 9999;
  width: 120px;
  height: 400px;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.envanter .item span {
  position: absolute;
  font-size: 25px;
  width: 150px;
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}
.envanter .item.photoshop span {
  font-size: 25px;
  margin-top: 29.3px;
}
.envanter .item {
  position: relative;
  width: 150px;
  height: 86.60px;
  margin: 43.30px 0;
  display: inline-block;
  background-color: #1073BB;
  cursor: pointer;
  border-radius: 2px;
}
.envanter .item:before, .envanter .item:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
}
.envanter .item:before {
  margin-bottom: -1px;
  bottom: 100%;
  border-top: none !important;
  border-bottom: 43.30px solid #1073BB;
  background-color: transparent !important;
}
.envanter .item:after {
  margin-top: -1px;
  top: 100%;
  width: 0;
  border-bottom: none !important;
  border-top: 43.30px solid #1073BB;
  background-color: transparent !important;
}
.envanter .item.bigtext span {
  font-size: 30px;
  margin-top: 27px;
}
.envanter .item.smalltext span {
  font-size: 21px;
  margin-top: 34px;
}
.item, .item:before, .item:after {
  /*+transition: all 0.2s ease-out;*/
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  will-change: transform, opacity;
}
.sass.item, .sass.item:before, .sass.item:after {
  background-color: #CF6398;
  border-top-color: #CF6398;
  border-bottom-color: #CF6398;
}
.css3.item, .css3.item:before, .css3.item:after {
  background-color: #1073BB;
  border-top-color: #1073BB;
  border-bottom-color: #1073BB;
}
.less.item, .less.item:before, .less.item:after {
  background-color: #284F81;
  border-top-color: #284F81;
  border-bottom-color: #284F81;
}
.html5.item, .html5.item:before, .html5.item:after {
  background-color: #E54D17;
  border-top-color: #E54D17;
  border-bottom-color: #E54D17;
}
.javascript.item, .javascript.item:before, .javascript.item:after {
  background-color: #F2DB3E;
  border-top-color: #F2DB3E;
  border-bottom-color: #F2DB3E;
  color: #000000;
}
.php.item, .php.item:before, .php.item:after {
  background-color: #6A7DBB;
  border-top-color: #6A7DBB;
  border-bottom-color: #6A7DBB;
  color: #000000;
}
.laravel.item, .laravel.item:before, .laravel.item:after {
  background-color: #F17C70;
  border-top-color: #F17C70;
  border-bottom-color: #F17C70;
}
.yii.item, .yii.item:before, .yii.item:after {
  background-color: #3C86C7;
  border-top-color: #3C86C7;
  border-bottom-color: #3C86C7;
}
.symfony.item, .symfony.item:before, .symfony.item:after {
  background-color: #1A171B;
  border-top-color: #1A171B;
  border-bottom-color: #1A171B;
  color: #FFFFFF;
}
.mysql.item, .mysql.item:before, .mysql.item:after {
  background-color: #5684A0;
  border-top-color: #5684A0;
  border-bottom-color: #5684A0;
}
.postgres.item, .postgres.item:before, .postgres.item:after {
  background-color: #0091C1;
  border-top-color: #0091C1;
  border-bottom-color: #0091C1;
}
.mongodb.item, .mongodb.item:before, .mongodb.item:after {
  background-color: #634838;
  border-top-color: #634838;
  border-bottom-color: #634838;
  color: #6FD078;
}
.elastic.item span {
  margin-top: 20px;
}
.elastic.item, .elastic.item:before, .elastic.item:after {
  background-color: #FFF;
  border-top-color: #FFF;
  border-bottom-color: #FFF;
  color: #74B73F;
}
.redis.item, .redis.item:before, .redis.item:after {
  background-color: #D82A20;
  border-top-color: #D82A20;
  border-bottom-color: #D82A20;
}
.memcached.item, .memcached.item:before, .memcached.item:after {
  background-color: #2A8E84;
  border-top-color: #2A8E84;
  border-bottom-color: #2A8E84;
  color: white;
}
.angularjs.item, .angularjs.item:before, .angularjs.item:after {
  background-color: #BB262F;
  border-top-color: #BB262F;
  border-bottom-color: #BB262F;
}
.backbonejs.item, .backbonejs.item:before, .backbonejs.item:after {
  background-color: #0071B5;
  border-top-color: #0071B5;
  border-bottom-color: #0071B5;
}
.emberjs.item, .emberjs.item:before, .emberjs.item:after {
  background-color: #E76848;
  border-top-color: #E76848;
  border-bottom-color: #E76848;
}
.nodejs.item, .nodejs.item:before, .nodejs.item:after {
  background-color: #80CF04;
  border-top-color: #80CF04;
  border-bottom-color: #80CF04;
  color: #000000;
}
.git.item, .git.item:before, .git.item:after {
  background-color: #F84A18;
  border-top-color: #F84A18;
  border-bottom-color: #F84A18;
  color: #3D2D00;
}
.photoshop.item, .photoshop.item:before, .photoshop.item:after {
  background-color: #46C6FA;
  border-top-color: #46C6FA;
  border-bottom-color: #46C6FA;
  color: #24253A;
}
.illustrator.item, .illustrator.item:before, .illustrator.item:after {
  background-color: #974127;
  border-top-color: #974127;
  border-bottom-color: #974127;
  color: #FCC52D;
}
.sketch.item, .sketch.item:before, .sketch.item:after {
  background-color: #FDC325;
  border-top-color: #FDC325;
  border-bottom-color: #FDC325;
  color: #3A3753;
}
.disabled.item, .disabled.item:before, .disabled.item:after {
  background-color: #02476A;
  border-top-color: #02476A;
  border-bottom-color: #02476A;
  color: rgba(233, 233, 233, 0.6);
}
.disabled.item:hover, .disabled.item:hover:before, .disabled.item:hover:after {
  background-color: #02476A;
  border-top-color: #02476A;
  border-bottom-color: #02476A;
  color: #FFFFFF;
}
.sahne-6 .toprak {
  background-image: url(../img/toprak.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 1623px;
  height: 2141px;
  bottom: 0;
  left: 0;
  position: absolute;
  margin-left: 12000px;
  margin-bottom: -1890px;
  z-index: 100;
}
.sahne-6 .form {
  bottom: 300px;
  left: 0;
  position: absolute;
  margin-left: 12360px;
  background-color: #F0F6F7;
  z-index: 9999;
  text-align: center;
}
.sahne-6 img {
  width: 350px;
  margin-bottom: 30px;
}
.sahne-6 .form form {
  background: white;
  padding: 50px;
  width: 1000px;
  height: 670px;
}
.sahne-6 .form h3 {
  font-size: 48px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  color: #376987;
}
.sahne-6 .form h4 {
  font-size: 28px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}
.sahne-6 .form p {
  font-size: 30px;
  padding-bottom: 10px;
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
input, textarea, button {
  font-size: 30px;
  padding: 20px;
  display: block;
  background: #F0F6F7;
  border: none;
  width: 100%;
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  outline: none;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 100%;
}
button {
  background: #DCE8EA;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
button:hover {
  background: #C2D7DA;
}
textarea {
  height: 130px;
}
.sahne-6 form > div {
  width: 900px;
  position: absolute;
  will-change: transform;
}
.sahne-6 form .sayfa-2 {
  left: 1000px;
  opacity: 0;
  font-size: 0;
}
.sahne-6 form .sayfa-2 button:nth-child(3) {
  width: 18%;
  display: inline-block;
  margin-right: 2%
}
.sahne-6 form .sayfa-2 button:last-child {
  width: 80%;
  display: inline-block;
}