* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 60px;
  color: #5C6163;
  background-color: #F0F6F7;
}
p {
  line-height: 1.2em;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
  cursor: default;
}
p b {
  font-weight: 500;
}
p.small {
  font-size: 30px;
  margin-top: 10px;
  color: #2A2B2C;
}
#controller {
  position: fixed;
  right: 20px;
  top: 0;
  opacity: 0.2;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  padding: 10px;
  z-index: 9999;
}
#controller:hover {
  opacity: 1;
}
#controller label {
  font-size: 12px;
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}
#controller input {
  width: 100px;
  padding: 5px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  display: block;
}
#canvas {
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: top left;
}
.yuzey {
  height: 1000px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.deniz {
  background-color: #00253F;
  position: absolute;
  bottom: 0;
  height: 300px;
  min-width: 100%;
  width: 20000px;
  left: 0;
  margin-left: -500px;
}
.deniz:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 64, 94, 0.75);
  background-color: rgba(0, 37, 63, 0.75);
  z-index: 150;
}
.deniz > div {
  position: absolute;
  /*+transition: all 5s cubic-bezier(0.420, 0.000, 0.580, 1.000);*/
  -webkit-transition: all 5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
  -moz-transition: all 5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
  -o-transition: all 5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
  transition: all 5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
.deniz .dalga-1 {
  background-image: url(../img/deniz-1.svg);
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-position: left top;
  margin-top: -186px;
  z-index: 1;
}
.deniz .dalga-2 {
  background-image: url(../img/deniz-2.svg);
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-position: left top;
  margin-top: -128px;
  z-index: 99;
}
.deniz .taban-1 {
  background-image: url(../img/deniz-alt2.svg);
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-position: left top;
  z-index: 300;
}
.gemi {
  /*background-image: url(../img/gemi-2.svg);*/
  background-image: url(../img/gemi-kucuk.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 710px;
  height: 600px;
  bottom: 0;
  /*width: 1200px;*/
  /*height: 800px;*/
  /*bottom: -50px;*/
  left: 0;
  position: absolute;
  z-index: 50;
  margin-left: 600px;
  cursor: pointer;
}
.buzul {
  background-image: url(../img/buzul.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 1000px;
  height: 465px;
  bottom: 0;
  left: 0;
  position: absolute;
}
.buzul2 {
  background-image: url(../img/buzul-2.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 494px;
  height: 175px;
  bottom: 0;
  left: 0;
  position: absolute;
}
.buzul3 {
  background-image: url(../img/buzul-3.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 580px;
  height: 1180px;
  bottom: 0;
  left: 0;
  position: absolute;
}
.buzul4 {
  background-image: url(../img/buzul-4.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 2000px;
  height: 932px;
  bottom: 0;
  left: 0;
  position: absolute;
}
.sahne-1 .buzul-1 {
  width: 2000px;
  height: 932px;
  z-index: -2;
  margin-left: -58px;
  margin-bottom: -163px;
}
.sahne-1 .buzul-2 {
  z-index: 2;
  margin-left: 1375px;
  margin-bottom: 53px;
}
.sahne-1 .buzul-3 {
  z-index: 100;
  margin-left: 1796px;
  margin-bottom: -607px;
}
.sahne-1 .buzul-4 {
  width: 1500px;
  height: 600px;
  z-index: -1;
  margin-left: 1300px;
  margin-bottom: -50px;
}
.sahne-1 .text-1 {
  width: 1144px;
  margin-left: 60px;
}
.sahne-2 .buzul-1 {
  z-index: 100;
  margin-left: 2500px;
  margin-bottom: -730px;
}
.sahne-2 .buzul-2 {
  width: 1400px;
  height: 550px;
  z-index: -2;
  margin-left: 4000px;
  margin-bottom: -50px;
}
.sahne-3 .yesil-alan {
  background-image: url(../img/yesil-alan.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 2564.012px;
  height: 228.622px;
  bottom: 0;
  left: 0;
  position: absolute;
  margin-left: 6000px;
  margin-bottom: 0px;
  z-index: 100;
}
.sahne-3 .yesil-alan-taban {
  background-image: url(../img/yesil-alt.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 3108px;
  height: 1793.555px;
  bottom: 0;
  left: 0;
  position: absolute;
  margin-left: 5745px;
  margin-bottom: -1793px;
  z-index: 100;
}
.sahne-3 .agac {
  background-image: url(../img/agac.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 590px;
  height: 647px;
  bottom: 0;
  left: 0;
  position: absolute;
  margin-left: 7300px;
  margin-bottom: 10px;
  z-index: 102;
}
.sahne-3 .agac-top {
  background-image: url(../img/top.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 39px;
  height: 39px;
  bottom: 0;
  left: 0;
  position: absolute;
  margin-left: 7550px;
  margin-bottom: 430px;
  z-index: 103;
}
.sahne-3 .text-1 {
  position: absolute;
  top: 0;
  width: 1144px;
  margin-left: 6110px;
  z-index: 150;
}